<div id="<%= dom_id reply %>">
  <span class="subtitle is-7">
    <%= link_to "@#{reply.account.username}", profile_path(reply.account), data: { turbo_frame: '_top' } %>
  </span>
  <span class="subtitle is-7"><%= reply.body %></span>
</div>
