<h1 class="subtitle">
  <strike>Social Media</strike>
  <b>Social Web</b>
</h1>
<div class="subtitle block">
  <p class=block>
  This is the social web home of <%= request.domain %>, who have taken control
  of their online presence using <b><a>🌱 Sapli.ng</a></b>
  </p>
  <p>
  <b><a>🌱 Sapli.ng</a></b> is building for the social web, an antidote to big
  tech and corporate controlled social media. You can learn more
  about what that means <a href="https://gbej.org/the-open-social-web-reclaiming-our-digital-future/">here.</a>
  </p>
</div>

<img class="block" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F17748394.jpg&f=1&nofb=1&ipt=764be0cd15b26ab3f183b3b3ab7a3732db25ddc081f308cb62c4ff6720730782"/>

<div class="box">
  <details>
    <summary>About</summary>
    <p>
      <%= request.domain %> is a new social platform powered by
      <b><a>🌱 Sapli.ng</a></b> if you are an administrator, please update this
      description and tell others about what your platform is for, who it serves,
      add some rules, etc...
    </p>
  </details>
</div>

<div class="box">
  <details>
    <summary>Rules</summary>
    <ol>
      <li>If you can't say something nice, don't say anything at all.</li>
      <li>Don't post anything you wouldn't want your mom to see... Seriously.</li>
      <li>Don't post anything you don't mind being out on the open internet. This is on the internet if you couldn't tell.</li>
  </details>
</div>
