<%= turbo_frame_tag dom_id(post, :interactions) do %>
  <div class="level-right">
    <p class="is-7">
    <%= link_to pluralize(post.favorites.length, "favorite"), "#", data: { turbo_frame: '_top' } %>
    &#183;
    <%= link_to pluralize(post.replies.length, "comment"), post_path(post), data: { turbo_frame: '_top' } %>
    </p>
  </div>
<% end %>
