@use "bulma";
@use "bulma_sass/utilities/mixins";

body {
  font-family: serif !important;
  overflow: auto;
  height: 100%;
  @include mixins.touch {
    padding-top: 50px;
  }
}

html {
  overflow: hidden;
  height: 100%;
}

.page-content {
  @include mixins.desktop {
    padding: 20px;
  }
  @include mixins.touch {
    padding: 5px;
  }
}

.navbar-brand {
  @include mixins.touch {
    padding: 15px;
  }
}

.notice {
  color: green;
}

.alert {
  color: red;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.image {
  width: 100%;
}
