<div class="box">
  <div class="block">
    <h2 class="title is-4 has-text-centered">Create a Branch</h2>
    <p class="has-text-centered">
      Your Branch is your community's home on the web. Make yours and start chatting.
    </p>
  </div>
  <%= render "form", community: @community %>
</div>
